/*main css reset rules*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

/*html pages rules*/

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;

  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  padding: 24px 49px;

  font-size: 18px;
  font-weight: 700;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.blue-box {
  background: #3f2aff;
}

.download_link {
  padding-left: 30px;

  font-size: 18px;
  font-weight: 700;
  color: #3f2aff;

  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 40px;

  line-height: 60px;
  font-size: 60px;
  font-weight: 400;
  color: #333333;
}

.second-title {
  margin-top: 0px;
  margin-bottom: 10px;

  line-height: 46px;
  font-size: 40px;
  color: #333333;
}

.third-title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  color: #333333;
}

.text {
  margin-top: 0px;
  margin-bottom: 40px;
  width: 872px;

  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #333333;
}

.box-text {
  padding: 50px 95px;
  border-radius: 20px;
  width: 100%;

  font-size: 30px;
  font-weight: 700;
  color: white;
}

.gray-box {
  padding: 30px;
  border-radius: 20px;

  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f3f3f3;
}

.gray-box:not(:last-child) {
  margin-bottom: 40px;
}

.gray-box .text {
  margin-bottom: 25px;
  width: 692px;
}

.picture-one {
  background-image: url("../img/decorate-1.png");
}

.picture-two {
  background-image: url("../img/decorate-2.png");
}

.items {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
}

.item {
  text-decoration: underline 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

li::marker {
  color: blue;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.image {
  margin-bottom: 40px;
}

.image-group {
  display: inline-block;
  margin: 0px 0px 40px 0px;
  width: 872px;
  font-size: 0px;
}

.image-desc {
  padding: 19px;
  border: 1px solid #b6b6b6;
  border-top: 0px;

  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
