/*main css reset rules - helpers*/

:root {
  --color-hex-white: #ffffff;
  --color-hex-sand-gold:#A47312;
  --color-hex-gold: #C93;
  --color-hex-yellow-gold:#F0BF5F;
  --color-hex-grey:#333;
  --color-hex-light-grey:#999;
  --color-hex-lightgray: #D3D3D3FF;
  --color-hex-underline-grey:#E9E9E9;
  --color-hex-black: #000;
}

/*var(--color-hex-light-grey)*/

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
  url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
  url('../fonts/MullerMedium.woff2') format('woff2'),
  url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
  url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

body {
  font-family: Muller, serif;
  line-height: 1;
  background: #F1F1F1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid var(--color-hex-gold);

  background-color: transparent;
  cursor: pointer;

  color: var(--color-hex-gold);
  font-size: 16px;
  font-weight: 400;

  transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
}

.button:focus, .contact-button:focus {
  background-color: var(--color-hex-gold);
  color: var(--color-hex-white);
}

.button:hover, .contact-button:hover {
  background-color: var(--color-hex-gold);
  color: var(--color-hex-white);
}

.button:active, .contact-button:active {
  background-color: var(--color-hex-sand-gold);
  color: var(--color-hex-white);
}

.flex {
  display: flex;
}

.container-site {
  width: 1170px;
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 0 30px 0;
}

.section-offset {
  margin-bottom: 70px;
}

/*---header---*/

.header {
  margin-bottom: 70px;
}

/*---container-header---*/

.container-header {
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.container-header-element {
  align-items: center;
}

.logo-header {
  justify-content: space-between;
  width: 261px;
  height: 54px;
  margin-right: 40px;

  border-radius: 15px;
  background: var(--color-hex-yellow-gold);
}

.lagoona-logo {
  padding: 7px 0 7.56px 23.2px;
}

.header-phone {
  position: relative;

  color: #666;
  font-size: 20px;
  font-weight: 500;

  transition: color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
}

.header-phone:focus {
  outline-offset: 5px;
  outline: 1px solid var(--color-hex-gold);

  color: var(--color-hex-gold);
}

.header-phone:hover {
  color: var(--color-hex-gold);
}

.header-phone:active {
  color: var(--color-hex-sand-gold);
  outline: none;
}

.header-account {
  padding-left: 29px;

  color: var(--color-hex-gold);
  font-size: 16px;
  font-weight: 400;

  background-image: url("../img/keyboard_tab.svg");
  background-position: left center;
  background-repeat: no-repeat;

  transition: color 0.2s ease-in-out, background-image 0.3s ease-in-out;
}

.header-account:focus {
  outline-offset: 5px;
  outline: 1px solid var(--color-hex-gold);

  color: var(--color-hex-gold);
}

.header-account:hover {
  color: var(--color-hex-yellow-gold);

  background-image: url("../img/keyboard_light_tab.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.header-account:active {
  color: var(--color-hex-sand-gold);
  outline: none;

  background-image: url("../img/keyboard_tab.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

/*---end-container-header---*/
/*---navigation header---*/

.container-nav-header {
  justify-content: space-between;
  align-items: center;
  padding: 14px 45px;

  border-radius: 15px;
  background: var(--color-hex-white);
}

.nav-list {
  gap: 45px
}

.nav-list-element {
  transition: color 0.2s ease-in-out, outline 0.3s ease-in-out;
}

.nav-list-element:focus {
  outline-offset: 5px;
  outline: 1px solid var(--color-hex-gold);

  color: var(--color-hex-gold);
}

.nav-list-element:hover {
  color: var(--color-hex-gold);
}

.nav-list-element:active {
  color: var(--color-hex-sand-gold);
  outline: none;
}

.nav-header-buttons {
  gap: 40px;
}

/*---end-navigation-header---*/
/*---end-header---*/
/*---main---*/

.main-second-header {
  margin: 0 0 20px;
  padding-left: 40px;

  color: var(--color-hex-grey);
  font-size: 40px;
  font-weight: 400;
}

/*---main-specials---*/

.main-specials-container-content {
  justify-content: space-between;
}

.specials-content-left {
  flex-direction: column;
  justify-content: space-between;
}

.specials-article {
  position: relative;

  width: 573px;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
}

.article-1 {
  margin-bottom: 24px;

  background-image: linear-gradient(90deg,
  rgba(48, 64, 89, 0.84) -2.9%,
  rgba(53, 65, 83, 0.00) 65.7%), url("../img/specials1.jpeg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.article-2 {
  background-image: linear-gradient(90deg,
  rgba(48, 64, 89, 0.84) -2.9%,
  rgba(53, 65, 83, 0.00) 65.7%), url("../img/specials2.jpeg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.article-3 {
  width: 573px;
  padding: 212px 0 40px 45px;

  background-image: linear-gradient(90deg,
  rgba(48, 64, 89, 0.84) -2.9%,
  rgba(53, 65, 83, 0.00) 65.7%), url("../img/specials3.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.specials-third-header {
  max-width: 420px;
  margin-bottom: 15px;

  color: var(--color-hex-white);
  font-size: 40px;
  font-weight: 700;
}

.article-header-3 {
  max-width: 299px;

  color: var(--color-hex-white);
  font-size: 60px;
  font-weight: 700;
}

.specials-title {
  margin-bottom: 47px;

  color: var(--color-hex-white);
  font-size: 20px;
  font-weight: 400;
}

.specials-link {
  padding-right: 20px;

  color: var(--color-hex-yellow-gold);
  font-size: 16px;
  font-weight: 400;

  background-image: url("../img/specials-link.svg");
  background-position: right center;
  background-repeat: no-repeat;

  transition: color 0.2s ease-in-out;
}

.specials-link:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.specials-link:focus {
  color: var(--color-hex-gold);
}

.specials-link:focus:before {
  outline-offset: 8px;
  outline: 1px solid var(--color-hex-gold);
}

.specials-link:hover {
  color: var(--color-hex-gold);
}

.specials-link:active {
  color: var(--color-hex-white);
}

/*---main-about-us---*/

.about-us-description {
  max-width: 888px;
  flex-shrink: 0;

  color: var(--color-hex-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/*---main-services---*/

.services-list {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.services-list-item {
  position: relative;

  width: 573px;
  border-radius: 15px 15px 15px 15px;
  background: var(--color-hex-white);
}

.services-list-item-content {
  padding: 191px 126px 35px 45px;
}

.services-1 {
  background-image: url("../img/services1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.services-2 {
  background-image: url("../img/services2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.services-3 {
  background-image: url("../img/services3.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.services-4 {
  background-image: url("../img/services4.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.services-third-header {
  color: var(--color-hex-gold);
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.services-link {
  padding-right: 20px;

  background-image: url("../img/specials-link.svg");
  background-position: right center;
  background-repeat: no-repeat;

  transition: color 0.2s ease-in-out, background-image 0.2s ease-in-out;
}

.services-link:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.services-link:focus {
  color: var(--color-hex-gold);

  background-image: url("../img/specials-link.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.services-link:focus:before {
  outline-offset: 8px;
  outline: 1px solid var(--color-hex-gold);
}

.services-link:hover {
  color: var(--color-hex-yellow-gold);

  background-image: url("../img/specials-link-light.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.services-link:active {
  color: var(--color-hex-sand-gold);

  background-image: url("../img/specials-link.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.services-text {
  color: var(--color-hex-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/*---main-advantages---*/

.advantages {
  margin-bottom: 48px;
}

.advantages-list {
  flex-wrap: wrap;
  /*gap: 22px;*/
}

.advantages-list-item {
  width: 276px;
  margin-right: 22px;
  margin-bottom: 22px;
  padding: 40px 42px 32px 45px;

  border-radius: 15px;
  background: var(--color-hex-white);
}

.advantages-list-item:nth-child(4n) {
  margin-right: 0;
}

.advantages-text {
  color: var(--color-hex-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.advantages-image {
  height: 66px;
  margin-bottom: 10px;

  background-repeat: no-repeat;
  background-position: top left;
}

.advantages-1 {
  background-image: url("../img/advantages1.svg");
}

.advantages-2 {
  background-image: url("../img/advantages2.svg");
}

.advantages-3 {
  background-image: url("../img/advantages3.svg");
}

.advantages-4 {
  background-image: url("../img/advantages4.svg");
}

.advantages-5 {
  background-image: url("../img/advantages5.svg");
}

.advantages-6 {
  background-image: url("../img/advantages6.svg");
}

.advantages-7 {
  background-image: url("../img/advantages7.svg");
}

.advantages-8 {
  background-image: url("../img/advantages8.svg");
}

/*---main-placement---*/

.placement {
  margin-bottom: 46px;
}

.placement-list {
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  /*gap: 24px;*/
}

.placement-item {
  width: 374px;
  height: 440px;
  margin-right: 24px;
  margin-bottom: 24px;

  border-radius: 15px;
  background: var(--color-hex-white);
}

.placement-item:nth-child(3n) {
  margin-right: 0;
}

.placement-img {
  display: block;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.placement-img img {
  transition: 1s;
  display: block;
}

.placement-img img:hover {
  transform: scale(1.1);
}

.article-text {
  padding: 32px 45px 45px 45px;
}

.article-top {
  justify-content: space-between;
  margin-bottom: 16px;
}

.article-price-gray {
  color: var(--color-hex-light-grey);
  font-size: 16px;
  font-weight: 400;
}

.article-price-dark {
  color: var(--color-hex-black);
  font-size: 16px;
  font-weight: 400;
}

.article-price-bold {
  color: var(--color-hex-black);
  font-size: 20px;
  font-weight: 700;
}

.placement-third-header {
  margin-bottom: 16px;

  color: var(--color-hex-black);
  font-size: 16px;
  font-weight: 400;
}

.article-description {
  margin-bottom: 20px;

  color: var(--color-hex-light-grey);
  font-size: 16px;
  font-weight: 400;
}

.placement-last {
  position: relative;

  width: 374px;
  height: 440px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 24px;
  padding-bottom: 27px;

  border-radius: 15px;
  background: url("../img/placement9.png"),
  var(--color-hex-lightgray) 50% / cover no-repeat;
}

.placement-all-variations {
  padding-right: 20px;

  color: var(--color-hex-white);
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;

  background-image: url("../img/white-pointer.svg");
  background-position: right center;
  background-repeat: no-repeat;

  transition: color 0.2s ease-in-out, background-image 0.2s ease-in-out;
}

.placement-all-variations:focus {
  color: var(--color-hex-gold);

  background-image: url("../img/specials-link.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.placement-all-variations:hover {
  color: var(--color-hex-yellow-gold);

  background-image: url("../img/specials-link-light.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.placement-all-variations:active {
  color: var(--color-hex-sand-gold);

  background-image: url("../img/specials-link.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.placement-all-variations:before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*---main-order-tour---*/

.container-order-tour {
  height: 100%;
  flex-shrink: 0;
  padding: 45px;

  border-radius: 15px;
  background: var(--color-hex-underline-grey);
}

.tour-header {
  padding-left: 0;
}

.order-tour-form-line {
  padding: 32px 28px;
  align-items: center;
  justify-content: space-between;

  border-radius: 15px;
  background: var(--color-hex-white);
}

.order-tour-conditions {
  gap: 41px;
}

.order-tour-form {
  flex-direction: column;
  align-items: start;
}

.input-element {
  border: none;

  color: var(--color-hex-black);
  font-size: 16px;
  font-weight: 400;
}

.input-underline {
  border-bottom: var(--color-hex-underline-grey) 1px solid;
}

.label {
  margin-bottom: 15px;

  color: var(--color-hex-black);
  font-size: 12px;
  font-weight: 400;
}

/*---main-contacts---*/

.contacts {
  margin-bottom: 40px;
}

.contacts-view {
  width: 100%;
  padding: 45px;
  justify-content: space-between;

  border-radius: 15px;
  background: var(--color-hex-white);
}

.contacts-right-block {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts-values {
  width: 375px;

  flex-direction: column;
  justify-content: space-between;
  gap: 25px;

  margin-bottom: 45px;
}

.address {
  margin-right: 83px;
}

.phone {
  margin-right: 47px;
}

.email {
  margin-right: 93px;
}

.schedule {
  margin-right: 74px;
}

.contacts-text {
  color: var(--color-hex-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.phones {
  flex-direction: column;
}

.contacts-phone {
  color: var(--color-hex-gold);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  transition: color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
}

.emails {
  flex-direction: column;
}

.contacts-email {
  color: var(--color-hex-gold);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  transition: color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
}

.contacts-email:focus, .contacts-phone:focus {
  outline-offset: 2px;
  outline: 1px solid var(--color-hex-gold);

  color: var(--color-hex-gold);
}

.contacts-email:hover, .contacts-phone:hover {
  color: var(--color-hex-yellow-gold);
}

.contacts-email:active, .contacts-phone:active {
  color: var(--color-hex-sand-gold);
  outline: none;
}

.contacts-grey {
  color: var(--color-hex-light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-title {
  color: var(--color-hex-black);
  font-size: 20px;
  font-weight: 700;
}

.contact-button {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid var(--color-hex-gold);

  background-color: transparent;
  cursor: pointer;

  color: var(--color-hex-gold);
  font-size: 16px;
  font-weight: 400;

  transition: color 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

.contacts-left-block {
  width: 653px;

  border-radius: 10px;
  background: url("../img/contacts.png"),
  var(--color-hex-lightgray) -165px -63.707px / 150.536% 124.131%
  no-repeat;
  background-size: cover;
}

.line {
  width: 375px;
  height: 1px;
  flex-shrink: 0;
  background: var(--color-hex-underline-grey);
}

/*---end-main---*/
/*---footer---*/

.container-footer {
  width: 100%;
  height: 100%;
  padding: 45px;

  justify-content: space-between;

  border-radius: 15px;
  background: var(--color-hex-grey) url("../img/footer-logo.svg")
  no-repeat 80% bottom;
}

.right-block {
  width: 75%;
  justify-content: space-between;
}

.right-info {
  width: 302px;

  flex-direction: column;
  justify-content: space-between;
}

.footer-text {
  margin-bottom: 40px;

  color: var(--color-hex-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
}

.user-agreement {
  color: var(--color-hex-gold);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  transition: color 0.2s ease-in-out;
}

.contact-info {
  height: 62%;
  flex-direction: column;
  justify-content: space-between;
}

.footer-address {
  color: var(--color-hex-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.footer-phone, .footer-email {
  color: var(--color-hex-gold);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */

  transition: color 0.2s ease-in-out;
}

.footer-phone:focus, .footer-email:focus, .user-agreement:focus {
  color: var(--color-hex-gold);
}

.footer-phone:hover, .footer-email:hover, .user-agreement:hover {
  color: var(--color-hex-yellow-gold);
}

.footer-phone:active, .footer-email:active, .user-agreement:active {
  color: var(--color-hex-white);
}

.social-media {
  flex-direction: column;
  gap: 20px;
}

.social-link {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.social-link svg {
  fill: var(--color-hex-light-grey);

  transition: fill 0.2s ease-in-out;
}

.social-link svg:focus {
  fill: var(--color-hex-gold);
}

.social-link svg:hover {
  fill: var(--color-hex-gold);
}

.social-link svg:active {
  fill: var(--color-hex-sand-gold);
}

/*---end-footer---*/
