/*main css reset rules - helpers*/

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
  url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
  url('../fonts/MullerMedium.woff2') format('woff2'),
  url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
  url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

body {
  font-family: Muller, serif;
  line-height: 1;
  background: #F1F1F1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid #C93;

  background-color: transparent;
  cursor: pointer;

  color: #C93;
  font-size: 16px;
  font-weight: 400;
}

.flex {
  display: flex;
}

.container-site {
  width: 1170px;
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 0 30px 0;
}

.section-offset {
  margin-bottom: 70px;
}

/*---header---*/

.header {
  margin-bottom: 70px;
}

/*---container-header---*/

.container-header {
  height: 54px;
  margin-bottom: 30px;
  justify-content: start;
  align-items: center;
}

.container-header-element {
  align-items: center;
  margin-right: 540px;
}

.logo-header {
  justify-content: space-between;
  width: 261px;
  height: 54px;
  margin-right: 40px;

  border-radius: 15px;
  background: #F0BF5F;
}

.lagoona-logo {
  padding: 7px 0 7.56px 23.2px;
}

.header-phone {
  color: #666;
  font-size: 20px;
  font-weight: 500;
}

.header-account {
  padding-left: 29px;

  color: #C93;
  font-size: 16px;
  font-weight: 400;

  background-image: url("../img/keyboard_tab.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

/*---end-container-header---*/
/*---navigation header---*/

.container-nav-header {
  min-width: 1170px;
  min-height: 70px;
  flex-shrink: 0;

  justify-content: space-between;
  align-content: start;
  align-items: center;

  border-radius: 15px;
  background: #FFF;
}

.nav-list {
  justify-content: space-evenly;
  width: 685px;
  padding: 27px 0;
}

.nav-header-buttons {
  width: 423px;
  align-items: center;
  justify-content: space-evenly;
}

/*---end-navigation-header---*/
/*---end-header---*/
/*---main---*/

.main-second-header {
  margin: 0 0 20px;
  padding-left: 40px;

  color: #333;
  font-size: 40px;
  font-weight: 400;
}

/*---main-specials---*/

.main-specials-container-content {
  justify-content: space-between;
}

.specials-content-left {
  flex-direction: column;
  justify-content: space-between;
}

.specials-article {
  width: 550px;
  height: 258px;
  padding: 40px 0 40px 45px;
  border-radius: 15px;
  flex-shrink: 0;
  background: linear-gradient(90deg,
  rgba(48, 64, 89, 0.84) -2.9%,
  rgba(53, 65, 83, 0.00) 65.7%);
}

.article-1 {
  background: lightgray url("../img/specials1.jpeg")
  no-repeat left center;
}

.article-2 {
  background: lightgray url("../img/specials2.jpeg")
  no-repeat left center;
}

.article-3 {
  width: 573px;
  height: 100%;
  padding: 212px 0 40px 45px;

  background: lightgray url("../img/specials3.jpg")
  no-repeat left center;
}

.specials-third-header {
  max-width: 420px;
  margin-bottom: 15px;

  color: #FFF;
  font-size: 40px;
  font-weight: 700;
}

.article-header-3 {
  max-width: 299px;

  color: #FFF;
  font-size: 60px;
  font-weight: 700;
}

.specials-title {
  margin-bottom: 47px;

  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}

.specials-link {
  display: inline-block;
  padding-right: 20px;

  color: #F0BF5F;
  font-size: 16px;
  font-weight: 400;

  background-image: url("../img/specials-link.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

/*---main-about-us---*/

.about-us-description {
  max-width: 888px;
  flex-shrink: 0;

  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/*---main-services---*/

.services {
  margin-bottom: 70px;
}

.services-list {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.services-list-item {
  width: 573px;
  border-radius: 15px 15px 0px 0px;
  background: #FFF;
}

.services-list-item-content {
  padding: 191px 126px 35px 45px;
}

.services-1 {
  background-image: url("../img/services1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.services-2 {
  background-image: url("../img/services2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.services-3 {
  background-image: url("../img/services3.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.services-4 {
  background-image: url("../img/services4.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.services-third-header {
  color: #C93;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.services-link {
  display: inline-block;
  padding-right: 20px;

  background-image: url("../img/specials-link.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.services-text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/*---main-advantages---*/

.advantages {
  margin-bottom: 70px;
}

.advantages-list {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 22px;
}

.advantages-list-item {
  max-width: 276px;
  max-height: 276px;
  padding: 40px 42px 32px 45px;

  border-radius: 15px;
  background: #FFF;
}

.advantages-list-item-content {
  background-repeat: no-repeat;
  background-position: top left;
}

.advantages-text {
  padding-top: 76px;

  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.advantages-1 {
  background-image: url("../img/advantages1.svg");
}

.advantages-2 {
  background-image: url("../img/advantages2.svg");
}

.advantages-3 {
  background-image: url("../img/advantages3.svg");
}

.advantages-4 {
  background-image: url("../img/advantages4.svg");
}

.advantages-5 {
  background-image: url("../img/advantages5.svg");
}

.advantages-6 {
  background-image: url("../img/advantages6.svg");
}

.advantages-7 {
  background-image: url("../img/advantages7.svg");
}

.advantages-8 {
  background-image: url("../img/advantages8.svg");
}

/*---main-placement---*/

.placement {
  margin-bottom: 70px;
}

.placement-list {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.placement-item {
  width: 374px;
  height: 440px;
  flex-shrink: 0;

  border-radius: 15px;
  background: #FFF;
}

.article-text {
  padding: 32px 45px 45px 45px;
}

.article-top {
  justify-content: space-between;
  margin-bottom: 16px;
}

.article-price-gray {
  color: #999;
  font-size: 16px;
  font-weight: 400;
}

.article-price-dark {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.article-price-bold {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.placement-third-header {
  margin-bottom: 16px;

  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.article-description {
  margin-bottom: 20px;

  color: #999;
  font-size: 16px;
  font-weight: 400;
}

.placement-last {
  width: 374px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 27px;

  border-radius: 15px;
  background: url("../img/placement9.png"),
  lightgray 50% / cover no-repeat;
}

.placement-all-variations {
  display: inline-block;
  padding-right: 20px;

  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;

  background-image: url("../img/white-pointer.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

/*---main-order-tour---*/

.container-order-tour {
  height: 100%;
  flex-shrink: 0;
  padding: 45px;

  border-radius: 15px;
  background: #E9E9E9;
}

.tour-header {
  padding-left: 0;
}

.order-tour-form-line {
  width: 1080px;
  height: 100%;
  flex-shrink: 0;
  padding: 32px 28px;

  justify-content: space-evenly;
  align-items: center;

  border-radius: 15px;
  background: #FFF;
}

.order-tour-form {
  flex-direction: column;
  align-items: start;
}

.input-element {
  border: none;

  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.input-underline {
  border-bottom: #E9E9E9 1px solid;
}

.label {
  margin-bottom: 15px;

  color: #000;
  font-size: 12px;
  font-weight: 400;
}

/*---main-contacts---*/

.contacts {
  margin-bottom: 40px;
}

.contacts-view {
  width: 100%;
  height: 100%;
  padding: 45px;
  justify-content: space-between;

  border-radius: 15px;
  background: #FFF;
}

.contacts-right-block {
  width: 375px;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts-address {
  justify-content: space-between;
}

.address {
  margin-right: 83px;
}

.phone {
  margin-right: 47px;
}

.email {
  margin-right: 93px;
}

.schedule {
  margin-right: 74px;
}

.contacts-phones {
  justify-content: space-between;
}

.contacts-text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.phones {
  flex-direction: column;
}

.contacts-phone {
  color: #C93;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.emails {
  flex-direction: column;
}

.contacts-email {
  color: #C93;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-grey {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.contact-button {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #C93;

  background-color: transparent;
  cursor: pointer;

  color: #C93;
  font-size: 16px;
  font-weight: 400;
}

.contacts-left-block {
  width: 653px;
  height: 528px;
  flex-shrink: 0;

  border-radius: 10px;
  background: url("../img/contacts.png"),
  lightgray -165px -63.707px / 150.536% 124.131%
  no-repeat;
}

.line {
  width: 375px;
  height: 1px;
  flex-shrink: 0;
  background: #E9E9E9;
}

/*---end-main---*/
/*---footer---*/

.container-footer {
  width: 100%;
  height: 100%;
  padding: 45px;

  justify-content: space-between;

  border-radius: 15px;
  background: #333 url("../img/footer-logo.svg")
  no-repeat 80% bottom;
}

.right-block {
  width: 75%;
  justify-content: space-between;
}

.right-info {
  width: 302px;

  flex-direction: column;
  justify-content: space-between;
}

.footer-text {
  margin-bottom: 40px;

  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
}

.user-agreement {
  color: #C93;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contact-info {
  height: 62%;
  flex-direction: column;
  justify-content: space-between;
}

.footer-address {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.footer-phone, .footer-email {
  color: #C93;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.social-media {
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

.tripadvisor {
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
  border-radius: 45px;
  background: lightgray url("../img/tripadvisor.svg")
  no-repeat center center;
}

.ok {
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
  border-radius: 45px;
  background: lightgray url("../img/ok.svg")
  no-repeat center center;
}

.vk {
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
  border-radius: 45px;
  background: lightgray url("../img/vk.svg")
  no-repeat center center;
}

/*---end-footer---*/
