/*main css reset rules - helpers*/

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
  url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
  url('../fonts/MullerMedium.woff2') format('woff2'),
  url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
  url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

body {
  min-width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0 0 0;

  font-family: Muller, serif;
  line-height: 1;
  background: #F1F1F1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-offset {
  padding-top: 70px;
}

/*---header---*/
/*---container-header---*/

.container-header {
  justify-content: space-between;
}

.logo-header {
  margin-right: 40px;
}

.header-account {
  padding-left: 29px;

  color: #C93;
  font-size: 16px;
  font-weight: 400;

  background-image: url("../img/keyboard_tab.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

/*---end-container-header---*/
/*---navigation header---*/

.container-nav-header {
  padding-top: 30px;
  justify-content: space-between;
}

.nav {
  margin-right: 114px;
}

.nav-list-element {
  margin-right: 45px;
}

.nav-list-element:first-child {
  margin-left: 45px;
}

.nav-list-element:last-child {
  margin-right: 0;
}

.nav-button:first-child {
  margin-right: 40px;
}

.nav-button:last-child {
  margin-right: 45px;
}

/*---end-navigation-header---*/
/*---end-header---*/
/*---main---*/

.main-second-header {
  margin: 0;

  color: #333;
  font-size: 40px;
  font-weight: 400;
}

/*---main-specials---*/

.main-specials-container-content {
  display: flex;
  margin-top: 20px;
}

.specials-content-left {
  margin-right: 24px;
}

.specials-article:nth-child(2) {
  margin-top: 24px;
}

.specials-title {
  margin-top: 15px;
}

.specials-link {
  display: block;
  margin-top: 47px;
}

.specials-article {
  width: 573px;
}

/*---main-about-us---*/

.about-us-description {
  margin-top: 20px;
}

/*---main-services---*/

.services-list {
  margin-top: -4px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-list-item {
  width: 549px;
  margin-right: 24px;
}

.services-list-item {
  width: 573px;
  margin-right: 24px;
  margin-top: 24px;
}

.services-list-item:nth-child(2n) {
  margin-right: 0;
}

/*---main-advantages---*/

.advantages-list {
  margin-top: -2px;
  flex-wrap: wrap;
  justify-content: start;
}

.advantages-list-item {
  width: 276px;
  margin-right: 22px;
  margin-top: 22px;
}

.advantages-list-item:nth-child(4n) {
  margin-right: 0;
}

/*---main-placement---*/

.placement-list {
  margin-top: -4px;
  flex-wrap: wrap;
}

.placement-item {
  width: 374px;
  margin-top: 24px;
  margin-right: 24px;
}

.placement-item:nth-child(3n) {
  margin-right: 0;
}

.placement-third-header {
  margin-top: 16px;
}

.article-description {
  margin-top: 16px;
}

.article-button {
  margin-top: 20px;
}
